.upload_list_item {
.ant-upload.ant-upload-select {
    width: 104px;
}

.ant-modal-body {
    padding: 0 !important;
}

.ant-upload-list-picture-card {
.ant-upload-list-item {
    position: relative;

.ant-upload-list-item-actions {
    top: -10px;
    right: -10px;
    left: auto;
    bottom: auto;
    -webkit-transform: none;
    transform: none;
    transition: none;
    opacity: 1;

.ant-upload-list-item-card-actions-btn {
    opacity: 1;
    height: 24px;

.anticon-close {
    position: static;
}
}
}
}
.ant-upload-list-item-actions {
    top: -3px !important;
    right: -11px !important;
    z-index: 0 !important;
}
}
}